
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{article.title.rendered}}</ion-title>
</ion-navbar>


<ion-content padding>

  <ion-card>
  <img src="{{article.better_featured_image.source_url}}"/>
  <ion-card-content>
    <ion-card-title>
      {{article.title.rendered}}
      </ion-card-title>
      <div class="article-content" [innerHtml]="article.content.rendered"></div>
  </ion-card-content>

  <!--<ion-row no-padding>
    <ion-col>
      <button dark clear block class="button-icon-left">
        <span class="button-inner">
          <ion-icon name="thumbs-up"></ion-icon>
            READ MORE
        </span>
      </button>
    </ion-col>
  </ion-row>-->

</ion-card>



</ion-content>
