.article-content {
	h2 {
		line-height: 1.2;
    font-weight: 700;
	}
	img {
    height: auto;
    max-width: 100%;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	p {
		margin-bottom: 0.875rem;
	}
}
