
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Contact Us</ion-title>
</ion-navbar>


<ion-content padding class="getting-started">

  <h3>Contact Us</h3>

  <p>
    Insert contact us info...
  </p>

</ion-content>
