
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>About Wine & Rum</ion-title>
</ion-navbar>


<ion-content padding class="getting-started">

  <h3>About Us</h3>
  <div class="article-content" [innerHtml]="aboutcontent?.content?.rendered"></div>


</ion-content>
