
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>TOPICS</ion-title>
</ion-navbar>

<ion-content class="cards-bg">

<ion-card class="advanced-background" (click)="gotoCategoryList('food')">
  <img src="img/food.png"/>
  <p id="cat_food" class="advanced-background-title">FOOD</p>
  <!-- Insert count of articles under category -->
  <!--<p class="advanced-background-subtitle">XX Articles</p>-->
</ion-card>

<ion-card class="advanced-background" (click)="gotoCategoryList('places')">
  <img src="img/hallstatt.png"/>
  <p id="cat_places" class="advanced-background-title">PLACES</p>
  <!-- Insert count of articles under category -->
  <!--<p class="advanced-background-subtitle">64 Listings</p>-->
</ion-card>

<ion-card class="advanced-background" (click)="gotoCategoryList('austria')">
  <img src="img/parliament.png"/>
  <p id="cat_austria" class="advanced-background-title">AUSTRIA</p>
  <!-- Insert count of articles under category -->
  <!--<p class="advanced-background-subtitle">72 Listings</p>-->
</ion-card>

<ion-card class="advanced-background" (click)="gotoCategoryList('barbados')">
  <img src="img/beaches.png"/>
  <p id="cat_barbados" class="advanced-background-title">BARBADOS</p>
  <!-- Insert count of articles under category -->
  <!--<p class="advanced-background-subtitle">28 Listings</p>-->
</ion-card>

</ion-content>
