
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{categoryName | uppercase}}</ion-title>
</ion-navbar>


<ion-content padding>

  <ion-card *ngFor="#article of articles" (click)="gotoFullArticle(article)">
  <img src="{{article.better_featured_image.source_url}}"/>
  <ion-card-content>
    <ion-card-title>
      {{article.title.rendered}}
      </ion-card-title>
      <p [innerHtml]="article.excerpt.rendered"></p>
  </ion-card-content>

  <ion-row no-padding>
    <ion-col>
      <button dark clear block class="button-icon-left">
        <span class="button-inner">
          <ion-icon name="md-cafe"></ion-icon>
            READ MORE
        </span>
      </button>
    </ion-col>
  </ion-row>

</ion-card>



</ion-content>
